html {
    margin: 0;
    padding: 0;
    background-color: rgb(12, 13, 49);
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-variation-settings:
        "slnt" 0;
}

body {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.card {
    margin: 5px;
    overflow: auto;
    width: 320px;
    height: 546px;
    border: 2px solid rgba(119, 136, 153, 0.312);
    border-radius: 15px;
    background-color: rgb(255, 255, 255);
}
.img>img {
    margin: 5px;
    width: 310px;
    height: 220px;
    background: #5d5d5d;
    overflow: hidden;
    border-radius: 13px;
    /* object-fit: contain; */
}

.prop>ul {
    padding: 0 2vw;
}
.prop>ul>li {
    font-weight: 500;
    color: lightslategray;
    display: inline-block;
    font-size: small;
    background: #fff;
    border: 1px solid lightgray;
    border-radius: 50px;
    list-style: none;
    padding: 5px;
    margin: 0 2px;
}
.desc {
    padding: 0 20px;
    margin: auto;
}

.desc>h1 {
    color: #31496e;
}

.desc>p {
    color: lightslategray;
}

.readmore {
    width: 110px;
    margin: 30px auto 0 auto ;
    padding: 3px 0.5vw;
    background-color: rgba(217, 232, 255, 0.587);
    border: 1px transparent;
    border-radius: 20px;
    text-align: center;
    color: rgb(27, 144, 253);
    font-weight: bold;
    font-size: small;
}
.readmore:hover{
    color: rgba(255, 255, 255, 0.952);
    background-color: rgba(81, 97, 121, 0.823);
}