html {
    margin: 0;
    padding: 0;
}

p {
    background-color: darkgray;
    font-weight: bolder;
    font-size: larger;
}

.parent {
    margin: 12px;
    padding: 12px;
    border: 2px solid blue;
    /* position: relative;  */
    /* position: absolute; */

}

.box {
    margin: 3px;
    padding: 3px;
    width: 30vw;
    height: 400px;
    border: solid rgb(10, 76, 197) 2px;
}

.box1 {
    height: 100px;
    background-color: red;
    /* position: relative;
    top:100px;
    left: 130px;
    bottom: 40%;  */
    position: sticky;
    top: 0px;
    left: 0px;
}

.box2 {
    background-color: blue;
    /* position: relative; 
    top: 34px;
    left: 21px;
    bottom: 23px; */
}

.box3 {
    background-color: green;
    /* position: fixed;
    top: 0px;
    right: 0vw; */
}

.box4 {
    background-color: yellow;
}

.cards {
    border: 2px solid darkblue;
    /* will not allow to overflow */
    display: flow-root;
}

.cards>img {
    /* float: left; */
    float: right;
}

.card {
    border: 2px solid red;
}

/* clear use to states that 'no one is float on my right/left/...'  */
/* card 2 is third child */
.card:nth-child(3) {
    /* clear:right; */
}

.flexParent{
    height: 300px;
    width: 300px;
    margin: 10px;
    border: 2px solid blue;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    align-content: center; 
    gap: 10px 2px;
}
.flexChild{
    height: 32px;
    width: 32px;
    background: chocolate;
    border: 1px solid black;
    margin: 2px;
}
.order-1{
    order:1;
}
.order-2{
    order:2;
}
.order-3{
    order:3;
}
.order-100{
    order:100;
}