body {
    background-color: #303030;
    color: aliceblue;
}
p{
    font-size: 20px;
    text-align: center;
    margin-top: 30px;
    text-shadow: 0 -4px 5px black;
}
.btns{
    display: flex;
    justify-content: center;
    gap: 20px;
}

.btn {
    background-color: maroon;
    color: #ffffff;
    width: 100px;
    padding: 7px;
    font-size: 16px;
    border: 1px solid black;
    border-radius: 10px;
    margin-top: 30px;
}

.btn:hover {
    background-color: whitesmoke;
    color: #000;
    font-weight: 800;
    box-shadow: inset 0 0 10px 3px maroon;
}